body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#pizza-form {
  display: flex;
  width: 30%;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

#pizza-form button {
  width: 20%;
  align-self: center;
  padding: 5px;
  margin: auto 5px;
}

#pizza-form label {
  padding: 10px;
}

.toppings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.toppings label {
  width: 40%;
  text-align: right;
  
  border: 1px solid black
}

:Link {
  padding: 5px;
  margin: auto 5px;
  text-decoration: none;
  border: 1px solid black;
}

